@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    /* background-color: #9d91ff; */
    background-color: rgb(15, 12, 27);
    color: rgb(214, 214, 214);
    font-weight: 500;
}
header{
    display: flex;
    flex-direction: column;
    font-weight: 800;
}
#container{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    justify-content: center;
    text-align: center;
    border: 1px solid #9d91ff;
    border-radius: 15px;
    padding: 1rem;
}
.form-container{
    display: flex;
    flex-direction: column;
}
#title-top{
    color: rgb(255, 250, 100);
    text-shadow: 0px 0px 30px rgb(255, 166, 50);

}
#title-bottom{
    color: rgba(125, 97, 218, 0.831);
}
#input-field{
    padding: 1vh;
    border-radius: 15px;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: rgb(214, 214, 214);
    font-size: 110%;
    margin-bottom: .5rem;
}
#input-field::placeholder{
    color: rgba(255, 255, 255, .3);   
}
#add-button{
    padding: 1vh;
    border-radius: 15px;
    background-color: #9d91ff;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 110%;
    margin-bottom: 4rem;
}
#shopping-list{
    border-top: 1vh dashed rgba(255, 255, 255, .4);
    border-bottom: 1vh dashed rgba(255, 255, 255, .4);
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0;
    
}
.no-items-message{
    color: rgb(214, 214, 214);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.shopping-list-item{
    cursor: pointer;
    list-style: none;
    padding: 1rem;
    margin: .2rem;
    border-radius: 15px;
    border: none;
    color: rgb(214, 214, 214);
    background-color: transparent;
    border: 2px solid #9d91ff;
    flex-grow: 1;
}
